.container {
    width: 100%;
    height: 100%;
    max-width: 1200px; /* Example max-width */
    margin: 0 auto;
    padding: 20px;
  }
  
  .container .block-content {
    width: 300px; /* Specific width for the content */
    height: 400px; /* Specific height for the content */
    
  }

  